nav ul a,
nav .brand-logo {
  color: white;
}

.sect1{
  min-height: 400px;
  position: relative;
}

.form-container{
  background: white;
  padding: 15px 2%;
  max-width: 700px;
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
}